

// Colores
$light-grey: #d3d3d3;
$primary-color: #21233d;
$secondary-color:#f57b00;
$third-color:#0094f5;
$dark-grey: #333;
$alert-color: #ff6b6b; /* Rojo anaranjado para alertas */
$notification-color: #4caf50; /* Verde para notificaciones positivas */

// Tipografía
$font-size-base: 16px;
$font-family-base: 'Arial', sans-serif;

// Bordes
$border-radius-base: 8px;